/*主页样式*/
html{ font-size: 20px;overflow: hidden; }
body{ font-size: 14px; background: #282a2e;  }
.layout{ margin: 0 auto; max-width: 1200px; _min-width: 340px;_background: #282a2e; }
.w100{width: 100%; }
.h100{height: 100%; }
.wh100{height: 100%; width: 100%; }



/*头部导航*/
.header{ position: fixed; top:-100px; left: 0; background: #282a2e; width: 100%; z-index: 101;}
.header .head_nav{ }

.head_nav .logo{float: left; }
.head_nav .logo h1{ padding-top: 1rem; }
.head_nav .logo a{  display: block; background: url(../img/logo.png) no-repeat 0 0; width: 15rem; height: 3rem;text-indent:-9999em; background-size:cover; }
/*pc导航*/
.head_nav .nav{float: right; position: relative;}
.head_nav .nav li{float: left; font-size:1rem; line-height: 5rem; height: 5rem; width: 5rem; position: relative; overflow:hidden;}
.head_nav .nav p{height:100%; text-align: center; width: 100%;  position: absolute; left: 0; top: 0;  }
.head_nav .nav a{ height: 100%; width: 100%; background: #282a2e;  position: absolute; left: 0; top: -5rem; text-align: center; }


.head_nav .nav .border{ height: 0.25rem; background: #7fa242; width: 5rem; position: absolute; left: 0; bottom: 0;  }
/*移动端导航*/
.head_nav .nav_m{float: right; display: none; }
.head_nav .nav_m .nav_btn{ display: block;text-align: center; line-height: 5rem ; font-size: 20px; width: 3rem; height: 5rem }
.head_nav .nav_m ul{ position: absolute; left: 0; top: 5rem; display: none;  }
.head_nav .nav_m ul li a{background:rgba(40, 42, 46, 0.85); border-bottom: 1px solid rgba(40, 42, 46,1); display: block; height: 2rem; font-size: 1rem; line-height: 2rem; text-align: right;  padding-right: 20px; }
.head_nav .nav_m ul li:hover a { border-bottom: 1px solid #7fa242; background:rgba(0, 0, 0, 0.85);}

.head_nav .navbar{ width: 3rem; height: 0.3rem; position: absolute; left: 50%; margin-left: -1.5rem; bottom: -0.3rem; background: #7fa242; }
/*布局样式*/
.main{ position: absolute; top: 0; left: 0; width: 100%; z-index: 1;}


/*主页点按钮*/
.m_page{ position: absolute; top: 50%; right: 1%; width: 10px; z-index:100;}
.m_page p{cursor: pointer; width: 6px; height: 6px; margin-bottom: 10px; background: #7fa242; border-radius: 50%; position: relative; }
.m_page p span{ display: none; }
.m_page .on{ width: 10px; height: 10px; margin-left: -2px;}
.m_page .on span{ display: block; position: absolute; font-size:0.5rem; color: rgba(255,255,255,0.5); top:-0.2rem; left: -1.5rem;  }

/*媒体查询*/

@media screen and (min-width:980px) {
	
}
@media screen and (min-width:750px) and (max-width:840px){
	html{ font-size: 18px; }
}
@media screen and (min-width:640px) and (max-width:750px){
	html{ font-size: 16px; }

}
@media screen and (max-width:639px){
	html{ font-size: 14px; }
	.head_nav .nav{ display: none; }
	.head_nav .nav_m{ display: block;}
}

/*以第一屏*/
.main .m_page1{ background: url(../img/bg.jpg) no-repeat center; background-size: cover;width: 100%; position: relative;   }
.main .m_page1 .pagebg{ background: rgba(0,0,0,0.3); position:relative; overflow: hidden; }

/*一屏幕轮播图*/
.m_page1 .pagebg .playbanner{padding-top:5rem; position:absolute; left:0; top:0;  }
 

.m_page1 .pagebg .welcome1{font-size: 1rem;  background: rgba(0,0,0,0.5);  position: relative;}
.m_page1 .pagebg .welcome1 div{padding: 12rem 0 1rem 1rem;  font-size: 2rem; overflow: hidden;}
.m_page1 .welcome1 p{ padding-left:1rem; color: #7fa242;   font-size: 1rem; }

.m_page1 .welcome1 .count{ position: absolute; top: 5rem; right:0; width: 100%; height: 85%; opacity: 0.5; overflow: hidden;}
.m_page1 .welcome1 ul li{ position: absolute;  }
.m_page1 .welcome1 .count1{ font-size: 1.5rem; right:5%; top:10%; transform:rotate(7deg);}
.m_page1 .welcome1 .count2{ font-size: 1.5rem; right: 12%; top:20%; transform:rotate(-9deg);}
.m_page1 .welcome1 .count3{ font-size: 2rem; right: 15%; top:38%; transform:rotate(10deg);}
.m_page1 .welcome1 .count4{ font-size: 1.8rem; right: 25%; top:50%; transform:rotate(-9deg);}
.m_page1 .welcome1 .count5{ font-size: 3rem; right: 26%; top:70%; transform:rotate(7deg);}
.m_page1 .welcome1 .count6{ font-size: 8rem; right: 40%; top:80%;}

.m_page1 .welcome2{ background: rgba(255,0,51,0.5); }
.m_page1 .welcome3{ background: rgba(27,84,242,0.5); }
.m_page1 .welcome4{ background: rgba(235,101,45,0.5);}
.m_page1 .welcome5{ background: rgba(233,219,57,0.5);}
.m_page1 .welcome6{ background: rgba(209,227,219,0.5);}

/*轮播图小进度条*/
.m_page1 ol{ position:absolute; left:50%; bottom:0.5rem; overflow:hidden; margin-left:-9rem; opacity: 0.5; }
.m_page1 ol li{ width:3rem; height:1rem; background:#000; margin-left:0.4rem; float:left; position:relative; }
.m_page1 span{ width:0; height:100%; background:#fff; position:absolute; left:0; top:0; }


/*第二屏*/
.main .m_page2{ _background: url(../img/page.jpg) no-repeat 0 0; }




.main .m_page3{  }
.main .m_page4{  }
.main .m_page5{}