 *{margin:0; padding:0; line-height:100%;}
 a{ text-decoration:none; color:#a6b2d8;}
 ul li,ol li{ list-style:none;}
 strong,b,i,em,h1,h2,h3,h4,h5,h6,div,p{ font-weight:normal; font-style:normal; font-size:12px; }
 img{ vertical-align:top;}
 body{ font-family:"微软雅黑"; color:#a6b2d8;}
 
 .clearfix:after{ content:''; display:block; clear:both;}
 .clearfix{ zoom:1;}
 
a:hover{color:red;}