.foot{width: 1002px;margin: 0 auto;margin-top: 190px;}
.f1{text-align: center;line-height: 31px;}
.f1 a{font-size: 13px;color: #666666;}
.f1 i{padding: 0 10px; font-size: 13px;color: #666;}
.f2{line-height: 28px;text-align: center;color: #666;font-size: 12px;margin-bottom: 64px;}
.foot a:hover{color:#22ac38;}